{
  "Servers": {
    "1": {
      "Name": "PostGIS Local",
      "Group": "Servers",
      "Host": "postgis",
      "Port": 5432,
      "MaintenanceDB": "gis",
      "Username": "user",
      "SSLMode": "prefer",
      "PassFile": "/pgpass"
    }
  }
}